# This file contains common pin mappings for Mini-RAMBo boards. To use
# this config, the firmware should be compiled for the AVR atmega2560.

# See docs/Config_Reference.md for a description of parameters.

[stepper_x]
step_pin: PC0
dir_pin: PL1
enable_pin: !PA7
microsteps: 16
rotation_distance: 40
endstop_pin: ^!PB6
#endstop_pin: ^PC7
position_endstop: 0
position_max: 250
homing_speed: 30

[stepper_y]
step_pin: PC1
dir_pin: !PL0
enable_pin: !PA6
microsteps: 16
rotation_distance: 40
endstop_pin: ^!PB5
#endstop_pin: ^PA2
position_endstop: 0
position_max: 215
homing_speed: 30

[stepper_z]
step_pin: PC2
dir_pin: PL2
enable_pin: !PA5
microsteps: 16
rotation_distance: 8
endstop_pin: ^!PB4
# endstop_pin: ^PA1
# position_endstop: 215 
position_min: -5.0
position_max: 215
endstop_pin: probe:z_virtual_endstop

# BLTouch probe. One may define this section (instead of a probe
# section) to enable a BLTouch probe. (Note! This bltouch module may
# not work correctly with some BLTouch "clones"!) A virtual
# "probe:z_virtual_endstop" pin is also created (see the "probe"
# section above for the details).
[bltouch]
sensor_pin: ^PA2
control_pin: PA1

samples: 2
sample_retract_dist: 3.0
x_offset: 22 # 22mm right of the nozzle
y_offset: 0 # 9mm forward of the nozzle
#z_offset: 0 # This will probably go away
speed: 2.0

# Mesh Bed Leveling.
[bed_mesh]
speed: 100
#   The speed (in mm/s) of non-probing moves during the
#   calibration. The default is 50.
horizontal_move_z: 5
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
mesh_min: 30,10
#   Defines the minimum x,y position to probe when for rectangular
#   beds. Note that this refers to the nozzle position, take care that
#   you do not define a point that will move the probe off of the bed.
#   This parameter must be provided for rectangular beds.
mesh_max: 225,200
#   Defines the maximum x,y position to probe when for rectangular
#   beds. Follow the same precautions as listed in min_point. Also note
#   that this does not necessarily define the last point probed, only
#   the maximum coordinate. This parameter must be provided.
probe_count: 4,4
#   For rectangular beds, this is a comma separate pair of integer
#   values (X,Y) defining the number of points to probe along each axis.
#   A single value is also valid, in which case that value will be applied
#   to both axes.  Default is 3,3.


# In octoprint, override the z-home behavior in order to use the bltouch probe
[homing_override]
set_position_z:6
axes: z
gcode:
        G90
        G1 Z10 F6000
        G28 X Y
        G1 X125 Y110 F6000
        G28 Z0
        G1 X125 Y110 Z10

[extruder]
step_pin: PC3
dir_pin: PL6
enable_pin: !PA4
microsteps: 16
rotation_distance: 6.739
;full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PE5
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PF0
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114
min_temp: 0
max_temp: 250
max_extrude_only_distance: 500.0
# let's try pressure advance!
pressure_advance: 0.61

#[firmware_retraction]
#   The length of filament (in mm) to retract when G10 is activated, and to
#   unretract when G11 is activated (but see unretract_extra_length below).
#   The default is 0 mm.
#retract_length: 5
#retract_speed: 30
#   The length (in mm) of *additional* filament to add when unretracting.
#unretract_extra_length: 0
#   The speed of retraction, in mm/s. The default is 20 mm/s.
#unretract_speed: 30

[filament_switch_sensor filament_runout]
switch_pin: ^!PC7

[heater_bed]
heater_pin: PG5
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PF2
#control: pid
min_temp: 0
max_temp: 130

[fan]
pin: PH5

[heater_fan nozzle_cooling_fan]
pin: PH3
heater: extruder

[mcu]
serial: /dev/ttyUSB0

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 1000
max_z_velocity: 5
max_z_accel: 100

[output_pin stepper_xy_current]
pin: PL3
pwm: True
scale: 2.0
cycle_time: .000030
hardware_pwm: True
static_value: 1.1

[output_pin stepper_z_current]
pin: PL4
pwm: True
scale: 2.0
cycle_time: .000030
hardware_pwm: True
static_value: 1.3

[output_pin stepper_e_current]
pin: PL5
pwm: True
scale: 2.0
cycle_time: .000030
hardware_pwm: True
static_value: 1.25

[static_digital_output stepper_config]
pins:
    PG1, PG0,
    PK7, PG2,
    PK6, PK5,
    PK3, PK4

[static_digital_output yellow_led]
pins: !PB7

# Common EXP1 / EXP2 (display) pins
[board_pins]
aliases:
    # Common EXP1/EXP2 headers found on RAMBo v1.4
    EXP1_1=PH2, EXP1_3=PD3, EXP1_5=PD2, EXP1_7=PH7, EXP1_9=<GND>,
    EXP1_2=PH6, EXP1_4=PD5, EXP1_6=PG4, EXP1_8=PG3, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PB3, EXP2_3=PJ2, EXP2_5=PJ1, EXP2_7=PJ0, EXP2_9=<GND>,
    EXP2_2=PB1, EXP2_4=PB0, EXP2_6=PB2, EXP2_8=<RST>, EXP2_10=PC5
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "spi"

[display]
lcd_type: uc1701
cs_pin: EXP1_8
a0_pin: EXP1_6
# rst_pin: EXP1_5
contrast: 63
encoder_pins: ^EXP2_5, ^EXP2_3
click_pin: ^!EXP1_2

# Red button is EXP1_1
kill_pin: ^!EXP1_1

## Some micro-controller boards may require an spi bus to be specified:
spi_bus: spi
## Alternatively, some micro-controller boards may work with software spi:
#spi_software_miso_pin: EXP2_1
#spi_software_mosi_pin: EXP2_6
#spi_software_sclk_pin: EXP2_2

[output_pin beeper]
pin: EXP1_7

[led encoder_led]
red_pin: EXP1_5
blue_pin: EXP1_3
initial_BLUE: 1.0
initial_RED: 0.0

# G29 is the gcode to start bed calibration
[gcode_macro G29]
gcode:
        G28
        G1 Z10 F600
        BED_MESH_CALIBRATE


#[neopixel fysetc_mini12864]
#pin: EXP1_6
#chain_count: 3
#color_order: RGB
#initial_RED: 0.4
#initial_GREEN: 0.0
#initial_BLUE: 0.0


[include client.cfg]
[include client_macros.cfg]
[include calibration_macros.cfg]

[include display.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 3.000
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.347500, -0.161250, -0.025000, -0.016250
#*# 	-0.152500, -0.020000, 0.058750, -0.022500
#*# 	-0.103750, -0.077500, -0.063750, -0.117500
#*# 	-0.110000, -0.175000, -0.257500, -0.372500
#*# tension = 0.2
#*# min_x = 30.0
#*# algo = lagrange
#*# y_count = 4
#*# mesh_y_pps = 2
#*# min_y = 10.0
#*# x_count = 4
#*# max_y = 199.99
#*# mesh_x_pps = 2
#*# max_x = 225.0
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 60.418
#*# pid_ki = 0.804
#*# pid_kd = 1135.106
